@charset "UTF-8";


#poster img{width:100%; background-image:url("resources/istep-poster.png"); background-size:cover;}
.content{margin:0 auto; width:600px; height:200px; border-bottom: solid 1px #ccc; padding:20px;}
.content h2{margin-bottom : 40px;}
.content p{color:#999;}
