@charset "UTF-8";
.section {
	margin: 0 auto;
	min-width: 800px;
	max-width: 1600px;
}

.group {
	position: relative;
	border: solid 1px skyblue;
	padding: 40px 20px;
	border: solid 1px #00ADB5;
	border-radius: 17px;
	padding: 20px;
	margin: 20px 12px;
}

p {
	margin-bottom: 20px;
}

section a{font-size:28px;}

input[type="text"]{display:block; border:none; font-size:24px; width:100%;}
input[type="text"]:focus{outline:none;}

input[type=submit] {
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: #DEFCF9;
	border: solid 1px #61C0BF;
	border-radius: 12px;
	width: 220px;
	height: 180px;
	font-size: 28px;
	color: #364F6B;
}