@charset "UTF-8";

* {
	border-collapse: collapse;
	border-spacing: 0px;
}

textarea {
	resize: none;
}

input, textarea {
	border: none;
}

input:focus, textarea:focus {
	outline: none;
}

.col_box {
	font-size: 13px;
	width: 90%;
	height: 30px;
	max-width: 1200px;
	border-top: 1px solid #ccc;
	margin: 0 auto;
}

.col_box {
	display: grid;
	grid-template-columns: 12% auto;
	padding: 10px 20px;
	line-height: 30px;
}

#text_box {
	height: 300px;
}

input {
	text-align: center;
}

textarea {
	width: 90%;
	padding: 20px;
}

.btn_box {
	margin: 0 auto;
	border: solid 1px red;
}